<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddUser</title>
</head>
<body>
    <center>
    <h1>Add User Details</h1>
    {{msg}}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <br><br>
    <a href="{% url 'add_Task' %}">Add Task</a>
    <br><br>
    <a href="{% url 'user_list' %}">User List</a>
    <br><br>
    <a href="{% url 'task_list' %}">Task List</a>
    </center>
</body>
</html>