<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskList</title>
</head>
<body>
    <center>
    <h1>Show Task List</h1>
    <a href="{% url 'export_excel_taskData' %}"><button>Generate Excel File</button></a>
    <table border="2px">
        <thead>
            <tr>
                <th>Id</th>
                <th>User_details</th>
                <th>Task_details</th>
                <th>Task Status</th>
            </tr>
        </thead>
        <tbody>
            {% for task in page_obj %}
                <tr>
                    <td>{{ task.id}}</td>
                    <td>{{ task.user_detail }}</td>
                    <td>{{ task.task_detail }}</td>
                    <td>{{ task.task_type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <center>{{page_obj}}</center>
</center>
</body>
</html>