<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserList</title>
</head>
<body>
    <center>
    <h1>Show User List</h1>
    <a href="{% url 'export_excel_userData' %}"><button>Generate Excel File</button></a>
    <table border="2px">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile no.</th>
            </tr>
        </thead>
        <tbody>
            {% for user in page_obj %}
                <tr>
                    <td>{{ user.id}}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mob }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <center>{{page_obj}}</center>
</center>
</body>
</html>